.col-lg {
  border: 1px solid black;
}
.central-div-on-grid {
  height: 600px;
  background-color: pink;
}
.central-div-row {
  height: 300px;
  border: 1px solid black;
}
.ru-row-up {
  height: 100px;
  border: 1px solid black;
}
.ru-row-down {
  height: 200px;
  border: 1px solid black;
}
